body {
    margin: 0px;
  }
.nav-color{
    color: #ffffff;
}

.logo-image{
    padding-left: 100px;
    margin-left: 50px;
    padding-top: 10px;

}
.main-Container{
    background:linear-gradient(rgba(52, 73, 94,0.7),rgba(44, 62, 80,0.7)),url(./imgs/header.jpg);
    height: 90vh;
    background-size: cover;
}
.amazing-heading{
    color: #ffb3ff;
    font-size: 70px;
    font-weight: 600;
}
.sanitary-heading{
    color: #ffffff;
    font-size: 70px;
    font-weight: 600;
}
.banner-para{
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    padding-right: 250px;
}
button{
    background-color:rgb(168, 73, 140);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 0.5px;
    border-color: #ffffff;
    cursor: pointer;
    transition-duration: 0.4s;
}
.book-now{
    background-color:transparent;
    border-radius: 20px;
    color: #ffffff;
}
.book-now:hover {
    background-color:#ffb3ff;
    color: white;
  }
.about-heading{
    color: #ffb3ff;
}
.main-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
    margin-top: 40px;
}
.search-icon{
    margin-top: 13px;
    cursor: pointer;
    transition-duration: 0.4s;
}


.form1{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 5px;
}

.input1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 10px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
    color: #ffffff;
}


.form1:hover{
    width: 200px;
    cursor: pointer;
}

.form1:hover .input1{
    display: block;
}

.form1:hover .fa{
    background: #07051a;
    color: white;
}

.person-icon{
    margin-top: 9px;
    margin-left: 10px;
    margin-right: 15px;
    color: #ffffff;
}

.heart-icon{
    margin-top: 23px;
}



/* section 1 */
.size-carousel{
    height: 500px !important;
}
.restaurent-image{
    width: 230px;
    height: 230px;
}
.check{
    background-color:#ffb3ff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    color: #ffffff;
    font-weight: 600;
    font-size: 25px;
}
.check1{
    background-color:#ffb3ff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 37px;
    padding-right: 40px;
    color: #ffffff;
    font-weight: 600;
    font-size: 25px;
}
.check3{
    background-color:#ffb3ff;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    font-weight: 600;
    font-size: 25px;
}
.check4{
    background-color:#ffb3ff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    color: #ffffff;
    font-weight: 600;
    font-size: 25px;
}

.position-handling{
    position:absolute;
}
.position-handling1{
    margin-left: 200px;
    padding-top: 180px;

}
.position-handling2{
    position:absolute;
}
.position-handling3{
    margin-left: 160px;
    padding-top: 200px;

}
.shadow-styling{
    width: 140px;
    height: 50px;
    background-color:#ffb3ff;
}



.corousel-items-margin{
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 100px;
}
p{
    font-style: italic;
}


/* corousel css*/

.home .carousel-item{
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.home .carousel-item:before{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: -1;
}
.home .carousel-item .container{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.home .carousel-item h2{
	font-size: 80px;
	color: #ffffff;
	margin:0 0 10px;
	opacity: 0;
}
.home .carousel-item p{
	font-size: 30px;
	margin:0;
	color: #eeeeee;
	opacity:0;
}
.home .carousel-item.active h2{
	animation: fadeInLeft 0.5s ease forwards;
}
.home .carousel-item.active p{
	animation: fadeInRight 0.5s ease forwards;
}

@keyframes fadeInLeft{
	0%{
		opacity: 0;
		transform: translateX(-30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes fadeInRight{
	0%{
		opacity: 0;
		transform: translateX(30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

.home .carousel-controls{
	position: absolute;
	left: 50%;
	bottom: 40px;
	z-index: 10;
	transform: translateX(-50%);
}

.home .carousel-indicators{
	position: relative;
	margin:0;
}

.home .carousel-indicators li{
	height: 70px;
	width: 70px;
	margin:0 5px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	border:3px solid transparent;
	transition: all 0.3s ease;
}
.home .carousel-indicators li.active{
	border-color: #ffffff;
	transform: scale(1.2);
}

.home .carousel-control-next, 
.home .carousel-control-prev{
	height: 60px;
	width: 60px;
	opacity: 1;
	z-index: 3;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	transition: all 0.3s ease;
}
.home .carousel-control-next:hover, 
.home .carousel-control-prev:hover{
   box-shadow: 0 0 10px #ffffff;
}
.home .carousel-control-next img, 
.home .carousel-control-prev img{
   width: 30px;
}
.home .carousel-control-next{
	right: -90px;
}
.home .carousel-control-prev{
	left: -90px;
}

/*responsive*/
@media(max-width: 767px){
  .home .carousel-control-next, 
  .home .carousel-control-prev{
  	display: none;
  }
  .home .carousel-indicators li{
  	height: 60px;
  	width: 60px;
  }
  .home .carousel-item h2{
  	font-size: 45px;
  }
  .home .carousel-item p{
  	font-size: 22px;
  }
}

/* travel-agency*/

.travel-agency-main-container{
    background-image: url(./imgs/agency.jpg);
    height: 100vh;
    background-size: cover;
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;

}
.travel-agency-image{
    width: 150px;
    height: 150px;
}
.travel-agency-image1{
    width: 350px;
    height: 350px;
}
.agency-para{
    font-size: 25px;
    color: #ffffff;
}


.agency-cart-heading-color{
    color: #ffb3ff;
}

/*contact-us-container */
.contact-us-container{
    background-image: url(./imgs/contact.jpg);
    background-size: cover !important;
    height: 70vh !important;
    /*display:flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-self: center !important;
    align-content: center !important;
    align-items: center !important;
    */
}

.contact-us-input{
    width: 300px ! important;
    height: 30px ! important;
    border-width: 2px ! important;
    margin: 10px ! important;
    border-radius: 10px ! important;
}
.contact-us-textarea{
    width: 300px;
    height: 100px;
    margin: 10px;
    border-radius: 15px;

}
.contact-us-sendButton{
    background-color: #eb5aeb;
    color: #ffffff;
    width: 120px;
    border-radius: 20px;
}
li{
    list-style-type: none;
}
/* follow-us */
.follow-us-heading{
    font-size: 30px;
    font-weight: 600;
}
.follow-us-section-icon{
    margin-left: 93px;
}

.follow-us-inputs{
    width: 250px;
    height: 40px;
}
.follow-us-container{
    background-color: rgb(104, 19, 78);
}
.follow-us-submit-button{
    border-radius: 10px;
    color: #ffffff;
}
.copy-rights{
    background-color:rgb(143, 27, 108);
    display: flex;
    flex-direction: row; 
    justify-content: center;
    color: #ffffff;
}

.getData_form{
    height:1000px
}












